@import "tailwindcss";
@import "./tokens.css";

@layer base {
  @font-face {
    font-family: "Jersey20";
    src: url("/fonts/Jersey20-Regular.woff2") format("woff2");
    font-display: swap;
  }

  :root {
    font-size: 120%;
  }

  a,
  button,
  input,
  textarea,
  select,
  [tabindex]:not([tabindex="-1"]) {
    @apply transition-all outline-none;
    &:focus-visible {
      outline: 3px solid var(--color-container-accent);
      outline-offset: 4px;
    }
  }
}

@utility blocky-base {
  cursor: pointer;
  transition: all 150ms ease-out;
  corner-shape: squircle;
  border-radius: var(--radius-medium);
}

@utility blocky-shadow {
  box-shadow: var(--shadow-blocky);

  &:hover {
    box-shadow: var(--shadow-blocky-hover);
    translate: 0 -0.1rem;
  }
  &:active {
    box-shadow: var(--shadow-blocky-inset-active);
    translate: 0 0.05rem;
  }
}

@utility blocky-shadow-inset {
  box-shadow: var(--shadow-blocky-inset);
  &:hover {
    box-shadow: var(--shadow-blocky-inset-hover);
  }
  &:active {
    box-shadow: var(--shadow-blocky-inset-active);
  }
}

@utility blocky {
  @apply blocky-shadow blocky-base;
  background-color: var(--color-container);
  &:hover {
    background-color: var(--color-container-hover);
  }
  &:active {
    background-color: var(--color-container-active);
  }
}

@utility blocky-inset {
  @apply blocky-base blocky-shadow-inset;
  background-color: var(--color-container-inset);
  &:hover {
    background-color: var(--color-container-inset-hover);
  }
  &:active {
    background-color: var(--color-container-inset-active);
  }
}

@utility blocky-accent {
  @apply blocky-shadow blocky-base;
  background-color: var(--color-container-accent);
  color: var(--color-content-on-accent);
  &:hover {
    background-color: var(--color-container-accent-hover);
  }
  &:active {
    background-color: var(--color-container-accent-active);
  }
}
